.intelas-1st-screen {
  height: 650px;
  background-image: url("/assets/images/intelas-1st-screen.png");
}

.intelas-2nd-screen {
  height: 650px;
  background-image: url("/assets/images/intelas-2nd-screen.png");
}

.intelas-3rd-screen {
  height: 650px;
  background-image: url("/assets/images/intelas-3rd-screen.png");
}

.working-process-image {
  height: 416px !important;
  background-image: url("/assets/images/intelas-working-scheme.png");
}
