<div class="project-wrapper">
  <header>
    <app-single-project-header></app-single-project-header>
  </header>

  <div class="content-wrapper">
    <div class="main-info">
      <h2>Intelas</h2>

      <p>
        Intelas is the leading provider of financial data standardization, serving real estate asset managers
        and accountants. The company specializes in collecting and standardizing property-level data, ensuring
        accuracy and consistency across financial reporting and analysis. This project focuses on developing
        robust data management solutions to streamline financial operations and enhance decision-making
        processes for industry professionals.
      </p>

      <div class="project-links">
        <a href="https://www.crunchbase.com/organization/intelas" target="_blank">
          <img src="assets/images/link-icon.svg">
          <span>Crunchbase</span>
        </a>
        <a href="https://www.intelas.com" target="_blank">
          <img src="assets/images/link-icon.svg">
          <span>Website</span>
        </a>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <div class="intelas-1st-screen background-image"></div>
  </div>

  <div class="content-wrapper">
    <div class="overview">
      <h5>Overview</h5>

      <div class="parts-wrapper">

        <div class="left-part">
          <div class="responsibilities-challenges-block">
            <div class="responsibilities">
              <h4>Responsibilities</h4>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Conducting user research to understand user needs, behaviors, and preferences.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Performing competitor analysis to identify industry standards and opportunities.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Developing scalable and efficient product architecture.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Creating detailed designs and prototypes.</span>
              </div>
            </div>
            <div class="challenges">
              <h4>Challenges</h4>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Developing intuitive table and report builders.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Designing tables with complex nesting levels.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Implementing advanced filtering and sorting mechanisms.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Providing comprehensive data calculation descriptions.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="right-part">
          <div class="info-block">
            <div class="item">
              <p><img src="assets/images/role-orange.svg"><span>Role</span></p>
              <span>Lead product designer</span>
            </div>
            <div class="item">
              <p><img src="assets/images/methodology-orange.svg"><span>Methodology</span></p>
              <span>Waterfall</span>
            </div>
            <div class="item">
              <p><img src="assets/images/project-type-orange.svg"><span>Project type</span></p>
              <span>B2B</span>
            </div>
            <div class="item">
              <p><img src="assets/images/team-orange.svg"><span>Team</span></p>
              <span>1 designer, 1 business analytic</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <div class="intelas-2nd-screen background-image"></div>
  </div>

  <div class="content-wrapper">
    <div class="result">
      <h2>Result</h2>

      <app-simple-cards [cards]="cards"></app-simple-cards>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <div class="intelas-3rd-screen background-image"></div>
  </div>

  <div class="content-wrapper">
    <div class="working-process">
      <h5>Working process</h5>

      <p>Explore the various stages below to gain insight into our approach and methodologies.</p>

      <div class="working-process-wrapper">
        <div class="working-process-list">
          <app-expandable-section
            *ngFor="let item of workingProcessList; index as i"
            [title]="item.title"
            [isExpanded]="item.opened"
            [showBottomLine]="i !== workingProcessList.length - 1"
            (toggle)="toggleSection(item.id)"
          >
            <span [innerHTML]="item.content"></span>
          </app-expandable-section>
        </div>

        <div class="working-process-image"></div>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper">
    <img class="full-width-img" src="../../../../../assets/images/intelas-4th-screen.png" alt="Intelas 4th screen">
  </div>

  <footer class="no-fade-animation">
    <div class="content-wrapper">
      <app-single-project-footer></app-single-project-footer>
    </div>
  </footer>

</div>

