<div class="home-wrapper">
  <div class="content-wrapper">
    <app-navigation></app-navigation>

    <div class="greeting-block">
      <div class="greeting-info">
        <h2>Hi, I'm Ed</h2>
        <p>
          Making complex solutions simple is a part of my passion. I craft
          innovative digital experiences that blend user needs with business
          goals. Let's collaborate to turn your vision into reality!
        </p>
        <a routerLink="/contacts" class="primary-button">
          Get in touch
        </a>
      </div>

      <div class="greeting-image"></div>

    </div>
  </div>
</div>

<div class="home-wrapper lighten">
  <div class="content-wrapper">
    <div class="what-i-can-do-block">
      <h2>What I can do for you</h2>

      <app-simple-cards [cards]="cards"></app-simple-cards>
    </div>
  </div>
</div>

<div class="home-wrapper">
  <div class="content-wrapper">
    <div class="projects-block">
      <h2>Projects</h2>

      <app-project-cards [projects]="projects"></app-project-cards>

      <a routerLink="/projects">
        <button class="primary-button">View all projects</button>
      </a>
    </div>
  </div>
</div>

<div class="home-wrapper lighten">
  <div class="content-wrapper">
    <div class="reviews-block">
      <h2>What people say about me</h2>

      <div class="reviews">
        <div class="left-reviews">
          <div class="review">
            <h4>Amanda Hilliard</h4>
            <p>SVP, Product & Experience at Car IQ</p>
            <span>
              Ed is an outstanding designer whose positive attitude, strong work ethic, and proactive approach continually impressed me.
              His exceptional attention to detail surpasses that of any other designer I’ve worked with in my career. Ed’s passion for
              creating excellent products and user experiences is evident in all his work.
            </span>
            <span>
              As a product leader, Ed made my job significantly easier. In the dynamic environment of a startup, where data is often scarce,
              priorities shift frequently, and timelines are tight, Ed consistently delivered thoughtful and practical designs that kept the
              team moving forward.
            </span>
            <span>
              I am confident that Ed will be a valuable asset to any team. His contributions extend beyond his design skills, bringing immense
              value to any organization lucky enough to have him.
            </span>
          </div>
          <div class="review">
            <h4>Larry Aasen</h4>
            <p>Lead Mobile Engineer (Flutter) at Car IQ</p>
            <span>
              I had the pleasure of collaborating with Ed on our latest project with Car IQ, and the experience was phenomenal.
            </span>
            <span>
              His keen eye for user-centric design and innovative approach to problem-solving dramatically enhanced the quality
              of our mobile app, and his detailed use of Figma elevated our implementation. His proactive communication and ability
              to translate complex requirements into elegant solutions made the development process smooth, easy, and enjoyable.
              Ed’s contributions were invaluable, and his expertise in UX design truly set our mobile app apart.
            </span>
          </div>
        </div>
        <div class="right-reviews">
          <div class="review">
            <h4>Sara Elizabeth Rutledge</h4>
            <p>Senior Product Designer at HatchWorks</p>
            <span>
              I had the pleasure of working with Ed at Car IQ, where we collaborated on both the mobile app and web application projects. As
              a product designer, Ed's attention to detail is unparalleled, making him exceptional at creating design systems. His creativity
              shines through in every project, and he has a remarkable ability to clearly articulate his ideas to the team. Ed's combination of
              precision and innovative thinking makes him a valuable asset to any design team.
            </span>
          </div>
          <div class="review">
            <h4>Roman Kaminechny</h4>
            <p>Head of the Design Department at Cieden</p>
            <span>
              Eduard impressed me with his attention to detail and ability to propose effective and creative solutions to complex problems.
              He always approached his work with great meticulousness, ensuring a high quality of the final product. His design solutions
              were not only visually appealing but also user-friendly.
            </span>
            <span>
              Throughout the project, Eduard demonstrated excellent communication skills and teamwork with other team members. He was
              open to feedback and always sought to improve his solutions, taking into account the opinions of his colleagues. This
              contributed to creating a positive work atmosphere and increased the efficiency of the project team. Eduard successfully
              conducted all design activities, which contributed to achieving an excellent result.
            </span>
            <span>
              I am confident that his professionalism, creativity, and ability to work in a team will be valuable assets to any company.
              I highly recommend Eduard Kvak as a highly qualified and reliable Product Designer.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-wrapper">
  <app-footer-navigation></app-footer-navigation>
</div>
