.home-wrapper {
  display: flex;
  align-items: stretch;
  width: 90%;
  margin: 9vh auto;
  height: 82vh;
  background-color: #040F0F;

  .lang-block {
    padding: 48px;
    box-sizing: border-box;
    width: 48%;
    background-color: #040F0F;
    border: 4px solid #F7EDE2;

    .main-text-wrapper{
      font-size: 32px;
      color: #F7EDE2;
      font-weight: 700;
      line-height: 48px;
      margin-top: 48px;
      overflow: hidden;

      main-text {
        display: inline-block;
      }

      .cursor {
        display: inline-block;
        width: 0.15em;
        height: 1em;
        transform: translateY(3px);
        background-color: #F7EDE2;
        animation: blink 0.8s infinite;
      }

      @keyframes blink {
        50% {
          opacity: 0;
        }
      }
    }
  }

  .nav-block {
    box-sizing: border-box;
    width: 52%;

    a {
      display: flex;
      flex-direction: column;
      color: #040F0F;
      font-size: 40px;
      font-weight: 700;

      .square {
        display: none;
        width: 16px;
        height: 16px;
        margin-top: auto;
        margin-left: 48px;
      }

      &:hover {
        border-radius: 0 !important;

        //span {
        //  margin-top: 24px;
        //}

        .square {
          display: block;
        }
      }

      span {
        display: block;
        margin: auto auto 48px 48px;
      }
    }

    .projects {
      font-size: 64px;
      height: 50%;
      background-color: #F7EDE2;

      .square {
        background-color: #D57A66;
      }
    }

    .other-nav-wrapper {
      height: 50%;
      display: flex;
      align-items: stretch;

      .contacts-and-about-me-wrapper {
        width: 50%;

        .contacts {
          height: 50%;
          background-color: #D57A66;

          .square {
            background-color: #F7EDE2;
          }
        }

        .about-me {
          height: 50%;
          background-color: #F7EDE2;

          .square {
            background-color: #D57A66;
          }
        }
      }

      .skills-and-services {
        width: 50%;
        height: 100%;
        background-color: #D57A66;

        .square {
          background-color: #F7EDE2;
        }
      }
    }
  }
}
