<div class="home-wrapper">
  <div [@borderRadiusAnimation]="borderState" class="lang-block">
    <img src="assets/images/State=Assembled.svg" alt="icon">
    <div class="main-text-wrapper">
      Hi, I'm Ed, a seasoned product designer with over 6 years of experience. I craft innovative digital experiences that blend user needs with business goals. Let's collaborate to turn your vision into reality!
<!--      <span class="main-text" [innerHTML]="typedText"></span>-->
<!--      <span class="cursor"></span>-->
    </div>
  </div>
  <div class="nav-block">
    <a [@borderRadiusAnimation]="borderState" routerLink="/projects" class="projects">
      <span>Projects</span>
    </a>
    <div class="other-nav-wrapper">
      <div class="contacts-and-about-me-wrapper">
        <a [@borderRadiusAnimation]="borderState" routerLink="/contacts" class="contacts">
          <span>Contacts</span>
        </a>
        <a [@borderRadiusAnimation]="borderState" routerLink="/about-me" class="about-me">
          <span>About Me</span>
        </a>
      </div>
      <a [@borderRadiusAnimation]="borderState" routerLink="/skills-and-services" class="skills-and-services">
        <span>Skills &<br/>Services</span>
      </a>
    </div>
  </div>
</div>
