<div class="home-wrapper">
  <div [@borderRadiusAnimation]="borderState" class="lang-block">
    <img src="assets/images/State=Assembled.svg" alt="icon">
    <div class="main-text">
      <span *ngFor="let char of textArray; let i = index" [style.animation-delay]="i * 0.04 + 's'">{{char}}</span>
    </div>
  </div>
  <div class="nav-block">
    <a [@borderRadiusAnimation]="borderState" routerLink="/projects" class="projects">
      <span>Projects</span>
    </a>
    <div class="other-nav-wrapper">
      <div class="contacts-and-about-me-wrapper">
        <a [@borderRadiusAnimation]="borderState" routerLink="/contacts" class="contacts">
          <span>Contacts</span>
        </a>
        <a [@borderRadiusAnimation]="borderState" routerLink="/about-me" class="about-me">
          <span>About Me</span>
        </a>
      </div>
      <a [@borderRadiusAnimation]="borderState" routerLink="/skills-and-services" class="skills-and-services">
        <span>Skills &<br/>Services</span>
      </a>
    </div>
  </div>
</div>
