.home-wrapper {
  background-color: #040F0F;

  &.lighten {
    background-color: #0E1919;
  }

  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 8px;
  }

  .greeting-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 788px;

    .greeting-info {
      width: 56.5%;

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        margin: 0 0 48px;
      }

      a {
        display: inline-block;
      }
    }

    .greeting-image {
      width: 39%;
      height: 428px;
      background: url("/assets/images/home-greeting-image.png") center no-repeat;
      background-size: contain;
    }
  }

  .what-i-can-do-block {
    padding-top: 76px;
    padding-bottom: 52px;

    h2 {
      margin-bottom: 48px;
    }
  }

  .projects-block {
    padding-top: 76px;
    padding-bottom: 76px;

    h2 {
      margin-bottom: 48px;
    }

    .primary-button {
      margin: 0 auto;
    }
  }

  .reviews-block {
    padding-top: 76px;
    padding-bottom: 76px;

    h2 {
      margin-bottom: 48px;
    }

    .reviews {
      display: flex;
      justify-content: space-between;

      .left-reviews, .right-reviews {
        width: calc(50% - 12px);
      }

      .review {
        padding: 48px;
        border: 2px solid #D57A66;
        border-right: 6px solid #D57A66;
        border-bottom: 6px solid #D57A66;
        border-radius: 56px;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        h4 {
          margin: 0 0 8px;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          color: #D57A66;
        }

        p {
          margin: 0 0 24px;
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          color: #D57A66;
        }

        span {
          display: inline-block;
          margin-bottom: 32px;
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
