<div class="project-wrapper">
  <div class="content-wrapper">
    <header>
      <button class="transparent-button" (click)="goBack()">
        <img src="assets/images/back-icon.svg" alt="Back arrow">
        <span>Back</span>
      </button>
    </header>

    <div class="main-info">
      <div class="left-part">
        <h2>AlifBee Kids</h2>

        <p>
          AlifBee Kids is an engaging mobile platform that teaches children the
          Arabic language through interactive games. The platform is designed
          to make language learning fun and effective, catering specifically to
          young learners. By combining educational content with playful elements,
          AlifBee Kids aims to enhance language acquisition and retention,
          providing a valuable resource for parents and educators.
        </p>

        <div class="project-links">
          <a href="https://www.crunchbase.com/organization/cariq-2" target="_blank">
            <img src="assets/images/link-icon.svg">
            <span>Crunchbase</span>
          </a>
          <a href="https://www.crunchbase.com/organization/cariq-2" target="_blank">
            <img src="assets/images/link-icon.svg">
            <span>Website</span>
          </a>
          <a href="https://www.crunchbase.com/organization/cariq-2" target="_blank">
            <img src="assets/images/link-icon.svg">
            <span>AppStore</span>
          </a>
        </div>
      </div>

      <div class="right-part">
        <div class="info-block">
          <div class="item">
            <p><img src="assets/images/role-orange.svg"><span>Role</span></p>
            <span>Lead product designer</span>
          </div>
          <div class="item">
            <p><img src="assets/images/methodology-orange.svg"><span>Methodology</span></p>
            <span>Agile</span>
          </div>
          <div class="item">
            <p><img src="assets/images/project-type-orange.svg"><span>Project type</span></p>
            <span>B2C</span>
          </div>
          <div class="item">
            <p><img src="assets/images/team-orange.svg"><span>Team</span></p>
            <span>1 designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <img src="../../../../../assets/images/alifbee-1st-screen.png" alt="AlifBee Kids 1st screen">
  </div>

  <div class="content-wrapper">
    <div class="overview">
      <h5>Overview</h5>

      <p>The main objective was to redesign the registration flow to reduce the
        high dropout rate among users and improve the overall user experience.</p>

      <div class="two-column-block">
        <div class="two-column-block-side">
          <h4>Responsibilities</h4>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Conducting user research to identify pain points and user needs.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Performing a thorough competitor analysis.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Designing a new registration flow aligned with company branding and style guidelines.</span>
          </div>
        </div>
        <div class="two-column-block-side">
          <h4>Challenges</h4>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Multiple language support.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Reducing the number of registration steps.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Reduce the high dropout rate among users.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <img src="../../../../../assets/images/alifbee-2nd-screen.png" alt="AlifBee Kids 2nd screen">
  </div>

  <div class="content-wrapper">
    <div class="result">
      <h2>Result</h2>

      <app-simple-cards [cards]="cards"></app-simple-cards>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <img src="../../../../../assets/images/alifbee-3rd-screen.png" alt="AlifBee Kids 3rd screen">
  </div>

  <div class="content-wrapper">
    <div class="working-process">
      <h5>Working process</h5>

      <p>Explore the various stages below to gain insight into our approach and methodologies.</p>

      <div class="working-process-wrapper">
        <div class="working-process-list">
          <app-expandable-section title="Research"
          >
          <span>
            Given the tight schedule, we focused our research on quickly gathering critical insights. We utilized analytics
            to pinpoint user pain points and identify areas where users were dropping off during the registration process.
            This data-driven approach allowed us to understand user behavior and preferences efficiently. Additionally, we
            conducted a thorough competitor analysis to understand industry standards and identify opportunities for improvement.
            These insights informed our design strategy and guided the development of a more user-friendly registration flow.
          </span>
          </app-expandable-section>
          <app-expandable-section title="Ideate"
          >
          <span>
            During ideation, we held intensive brainstorming sessions to generate a variety of ideas and potential solutions.
            We collaborated closely with stakeholders to create and refine wireframes, exploring different design directions.
            We prioritized ideas based on feasibility, user impact, and alignment with project goals.
          </span>
          </app-expandable-section>
          <app-expandable-section title="Design"
          >
          <span>
            In the design phase, we translated our top ideas into high-fidelity designs. We focused on creating a seamless and
            user-friendly registration flow, ensuring all elements were consistent with the company’s visual identity.
          </span>
          </app-expandable-section>
          <app-expandable-section title="Deliver"
                                  [showBottomLine]="false"
          >
          <span>
            Upon completion, we prepared comprehensive design documentation and resources for the development team, ensuring a
            smooth handover and facilitating efficient implementation of the new registration flow.
          </span>
          </app-expandable-section>
        </div>

        <div class="working-process-image"></div>
      </div>
    </div>
  </div>

  <footer>
    <div class="content-wrapper">
      <app-single-project-footer></app-single-project-footer>
    </div>
  </footer>

</div>

