.alifbee-1st-screen {
  height: 546px;
  background-image: url("/assets/images/alifbee-1st-screen.png");
}

.alifbee-2nd-screen {
  height: 546px;
  background-image: url("/assets/images/alifbee-2nd-screen.png");
}

.alifbee-3rd-screen {
  height: 546px;
  background-image: url("/assets/images/alifbee-3rd-screen.png");
}

.working-process-image {
  height: 416px;
  background-image: url("/assets/images/alifbee-working-scheme.png");
}

footer {
  padding-top: 76px;
  background-color: #0E1919;
}
