<div class="project-wrapper">
  <div class="content-wrapper">
    <header>
      <button class="transparent-button" (click)="goBack()">
        <img src="assets/images/back-icon.svg" alt="Back arrow">
        <span>Back</span>
      </button>
    </header>

    <div class="main-info">
      <div class="left-part">
        <h2>Car IQ Pay</h2>

        <p class="first-article">
          Car IQ Pay is the first payment platform to enable vehicles to initiate, validate, and complete authorized transactions.
          The system eliminates the credit card completely and connects the vehicle directly to merchants to make secure and seamless
          payments. Car IQ Pay integrates with existing tech stacks and uses telematics and vehicle data to provide fleets with
          detailed insights, allowing them to follow every payment and eliminate fraud. As a result, it consolidates all transactions
          into a single ledger, reducing reconciliation and enabling fleets to manage their spending more effectively.
        </p>

        <p>
          At the same time merchants in Car IQ’s Network can better understand their customers' needs and take advantage of
          technology-forward marketing opportunities with personalized, location-based offers tailored to the needs and preferences of individuals.
        </p>

        <div class="project-links">
          <a href="https://www.crunchbase.com/organization/cariq-2" target="_blank">
            <img src="assets/images/link-icon.svg">
            <span>Crunchbase</span>
          </a>
          <a href="https://www.crunchbase.com/organization/cariq-2" target="_blank">
            <img src="assets/images/link-icon.svg">
            <span>Website</span>
          </a>
          <a href="https://www.crunchbase.com/organization/cariq-2" target="_blank">
            <img src="assets/images/link-icon.svg">
            <span>AppStore</span>
          </a>
        </div>
      </div>

      <div class="right-part">
        <div class="info-block">
          <div class="item">
            <p><img src="assets/images/role-orange.svg"><span>Role</span></p>
            <span>Lead product designer</span>
          </div>
          <div class="item">
            <p><img src="assets/images/methodology-orange.svg"><span>Methodology</span></p>
            <span>Agile</span>
          </div>
          <div class="item">
            <p><img src="assets/images/project-type-orange.svg"><span>Project type</span></p>
            <span>B2B & B2C</span>
          </div>
          <div class="item">
            <p><img src="assets/images/team-orange.svg"><span>Team</span></p>
            <span>2 designers, 2 product managers, 2 front-end developers</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <img src="../../../../../assets/images/car-iq-pay-1st-screen.png" alt="Car IQ Pay 1st screen">
  </div>

  <div class="content-wrapper">
    <div class="overview">
      <h5>Overview</h5>

      <p>The goal was to develop a mobile app for drivers and a web app for fleet managers. These apps needed to provide
        unique functionalities and a seamless user experience to streamline vehicle-initiated transactions and fleet management.</p>

      <div class="two-column-block">
        <div class="two-column-block-side">
          <h4>Responsibilities</h4>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Conducting user research to understand user needs, behaviors, and preferences.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Engaging in user interviews for feedback and design validation.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Creating scalable product architecture.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Developing designs, documentation, specifications, and guidelines.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Creating white-label solutions, Apple CarPlay/Android Auto integrations, and other extensions.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Collaborating with developers on task creation, design QA, etc.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Iteratively improving product usability and functionality through user data and feedback.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Creating prototypes and product assets for successful development.</span>
          </div>
        </div>
        <div class="two-column-block-side">
          <h4>Challenges</h4>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Limited user experience with smartphones and alternative payment methods like Apple Pay or Google Pay.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Constraints from developers, databases, data security protocols, and major companies (Apple and Google).</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Visual design principles that can easily adapt to the other companies' branding.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Meeting AA-level accessibility requirements.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Multiple language support.</span>
          </div>
          <div class="block-item">
            <img src="assets/images/dot.svg" alt="dot">
            <span>Complex fleet structure hierarchy and multiple access levels.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <img src="../../../../../assets/images/car-iq-pay-2nd-screen.png" alt="Car IQ Pay 2nd screen">
  </div>

  <div class="content-wrapper">
    <div class="result">
      <h2>Result</h2>

      <app-simple-cards [cards]="cards"></app-simple-cards>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <img src="../../../../../assets/images/car-iq-pay-3rd-screen.png" alt="Car IQ Pay 3rd screen">
  </div>

  <div class="content-wrapper">
    <div class="working-process">
      <h5>Working process</h5>

      <p>Explore the various stages below to gain insight into our approach and methodologies.</p>

      <div class="working-process-wrapper">
        <div class="working-process-list">
          <app-expandable-section title="Plan"
          >
          <span>
            We usually start each new sprint by conducting thorough analysis of the data and feedback gathered
          from the previous sprint. Next, we facilitate a brainstorming session to ideate and define new
          features and enhancements that contribute to product objectives. Following the brainstorming
          session, we proceed to create and assign tasks based on the prioritization of features.
          </span>
          </app-expandable-section>
          <app-expandable-section title="Design"
          >
          <span class="text-bottom-margin">
            After receiving the tasks, my first step is to create wireframes to visualize and validate new features.
            This iterative process involves multiple rounds of refinement to ensure optimal usability and functionality.
          </span>
            <span class="text-bottom-margin">
            Once the wireframes are finalized and approved, I proceed to develop the final designs and components.
            This includes creating high-fidelity mockups, prototypes, etc. Additionally, I prepare all necessary design
            documentation and guidelines for developers.
          </span>
            <span class="text-bottom-margin">
            To accommodate potential iterations and unforeseen challenges, we allocate approximately half of the sprint
            for the design phase. This allows for additional time for analysis or adjustments as needed.
          </span>
            <span class="text-bottom-margin">
            Finally, I conduct a collaborative working session with developers to ensure alignment and clarity on the
            implementation of design elements. This includes sharing design assets, specifications, and any additional
            context or requirements for the current sprint.
          </span>
          </app-expandable-section>
          <app-expandable-section title="Develop"
          >
          <span class="text-bottom-margin">
            Once developers receive all necessary design assets and documentation, they commence their work on implementing
            the features and functionalities outlined in the sprint tasks. Throughout the development process, developers
            collaborate closely with me to address any issues or changes that may arise.
          </span>
            <span class="text-bottom-margin">
            This allows for timely adjustments to be made to the design as needed, ensuring that the final product
            meets the intended requirements and objectives.
          </span>
          </app-expandable-section>
          <app-expandable-section title="Test"
          >
          <span class="text-bottom-margin">
            After developers complete their work, they deploy a new build to the mock environment. I then proceed
            to conduct thorough testing of the new build to identify any inconsistencies or issues.
          </span>
            <span class="text-bottom-margin">
            During testing, I focus not only on functional aspects but also on aspects related to design integrity,
            such as animations and interaction with components. This comprehensive approach helps to uncover any
            potential weaknesses in the design.
          </span>
            <span class="text-bottom-margin">
            If any discrepancies or bugs are discovered during testing, I create detailed bug tickets outlining the
            issue and its impact. These tickets are then addressed by developers to ensure timely resolution and
            maintain the quality of the final product.
          </span>
          </app-expandable-section>
          <app-expandable-section title="Launch"
                                  [showBottomLine]="false"
          >
          <span class="text-bottom-margin">
            After addressing all identified bugs and ensuring the stability of the application, developers
            proceed to release a new build in the production environment, making it available to users.
          </span>
            <span class="text-bottom-margin">
            To gather insights and monitor user interactions post-launch, we leverage tools such as Pendo
            to create new anchors and track potential pain points in the user journey. Additionally, we
            conduct A/B testing to validate hypotheses and optimize the user experience based on data-driven insights.
          </span>
            <span class="text-bottom-margin">
            In some cases, we supplement quantitative data with qualitative feedback by conducting user interviews
            or usability testing sessions. This allows us to gain deeper insights into user behavior and
            preferences, informing future iterations and improvements.
          </span>
          </app-expandable-section>
        </div>

        <div class="working-process-image"></div>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper">
    <img class="full-width-img" src="../../../../../assets/images/car-iq-pay-4th-screen.png" alt="Car IQ Pay 4th screen">
  </div>

  <footer>
    <div class="content-wrapper">
      <app-single-project-footer></app-single-project-footer>
    </div>
  </footer>

</div>
