.car-iq-pay-1st-screen {
  height: 546px;
  background-image: url("/assets/images/car-iq-pay-1st-screen.png");
}

.car-iq-pay-2nd-screen {
  height: 546px;
  background-image: url("/assets/images/car-iq-pay-2nd-screen.png");
}

.car-iq-pay-3rd-screen {
  height: 650px;
  background-image: url("/assets/images/car-iq-pay-3rd-screen.png");
}

.working-process-image {
  background-image: url("/assets/images/car-iq-pay-working-scheme.png");
}
