.project-wrapper {
  width: 100%;
  color: #F7EDE2;
  margin-top: 9vh;

  .content-wrapper {
    width: 90%;
    margin: 0 auto;

    .primary-button {
      span {
        display: inline-block;
        margin-left: 16px;
      }
    }

    h2 {
      font-size: 64px;
      font-weight: 700;
      margin-top: 48px;
      margin-bottom: 16px;
    }

    h5 {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      margin: 0 0 16px;
    }

    h6 {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 16px;
      margin-top: 48px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      margin: 0 0 20px;
    }

    .industries {
      margin-bottom: 48px;

      .hashes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .hash {
          background-color: #F7EDE2;
          border-radius: 12px;
          padding: 4px 12px;
          color: #040F0F;
          font-size: 20px;
          line-height: 32px;
          font-weight: 500;
          margin-right: 12px;
          margin-bottom: 12px;
        }
      }
    }

    .company-profiles {
      margin-bottom: 96px;

      .navigation {
        display: flex;

        a {
          margin-right: 16px;
        }
      }
    }
  }

  .full-width-wrapper {
    background-color: rgba(256,256,256, 0.08);
    margin-bottom: 96px;

    img {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
  }

  .two-column-block {
    display: flex;
    justify-content: space-between;

    .two-column-block-side {
      width: calc(50% - 12px);

      .block-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-size: 20px;
          display: inline-block;
          margin-left: 16px;
          line-height: 32px;
        }
      }
    }
  }

  .one-column-block {

    .block-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-size: 20px;
        display: inline-block;
        margin-left: 16px;
        line-height: 32px;
      }
    }
  }

  .challenges {
    margin-top: 48px;
    margin-bottom: 96px;
  }
}
