<div class="project-wrapper">
  <div class="content-wrapper">
    <header>
      <button class="transparent-button" (click)="goBack()">
        <img src="assets/images/back-icon.svg" alt="Back arrow">
        <span>Back</span>
      </button>
    </header>

    <div class="main-info">
      <h2>Car IQ Pay</h2>

      <p>
        Car IQ Pay is a revolutionary payment platform that enables vehicles to directly initiate, validate, and complete secure transactions
        without credit cards. By integrating with existing tech stacks and using telematics, it offers detailed insights to fleets,
        reducing fraud and simplifying expense management with a consolidated transaction ledger. Merchants benefit from better
        customer understanding and targeted, location-based marketing opportunities.
      </p>

      <div class="project-links">
        <a href="https://www.crunchbase.com/organization/cariq-2" target="_blank">
          <img src="assets/images/link-icon.svg">
          <span>Crunchbase</span>
        </a>
        <a href="https://www.cariqpay.com" target="_blank">
          <img src="assets/images/link-icon.svg">
          <span>Website</span>
        </a>
        <a href="https://apps.apple.com/us/app/car-iq-pay/id1584632482" target="_blank">
          <img src="assets/images/link-icon.svg">
          <span>AppStore</span>
        </a>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <div class="car-iq-pay-1st-screen background-image"></div>
  </div>

  <div class="content-wrapper">
    <div class="overview">
      <h5>Overview</h5>

      <div class="parts-wrapper">

        <div class="left-part">
          <div class="responsibilities-challenges-block">
            <div class="responsibilities">
              <h4>Responsibilities</h4>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Conduct user research and interviews for insights and design validation.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Develop scalable product architecture and create necessary documentation.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Design and implement white-label solutions, CarPlay/Android Auto integrations, and other extensions.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Collaborate with developers on task creation, design QA, and usability improvements.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>	Create prototypes and assets for successful development.</span>
              </div>
            </div>
            <div class="challenges">
              <h4>Challenges</h4>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Limited user experience with smartphones and alternative payment methods like Apple Pay or Google Pay.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Constraints from developers, databases, data security protocols, and major companies (Apple and Google).</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Visual design principles that can easily adapt to the other companies' branding.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Meeting AA-level accessibility requirements.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Multiple language support.</span>
              </div>
              <div class="block-item">
                <img src="assets/images/dot.svg" alt="dot">
                <span>Complex fleet structure hierarchy and multiple access levels.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="right-part">
          <div class="info-block">
            <div class="item">
              <p><img src="assets/images/role-orange.svg"><span>Role</span></p>
              <span>Lead product designer</span>
            </div>
            <div class="item">
              <p><img src="assets/images/methodology-orange.svg"><span>Methodology</span></p>
              <span>Agile</span>
            </div>
            <div class="item">
              <p><img src="assets/images/project-type-orange.svg"><span>Project type</span></p>
              <span>B2B & B2C</span>
            </div>
            <div class="item">
              <p><img src="assets/images/team-orange.svg"><span>Team</span></p>
              <span>2 designers, 2 product managers, 2 front-end developers</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <div class="car-iq-pay-2nd-screen background-image"></div>
  </div>

  <div class="content-wrapper">
    <div class="result">
      <h2>Result</h2>

      <app-simple-cards [cards]="cards"></app-simple-cards>
    </div>
  </div>

  <div class="full-width-wrapper with-vert-padding">
    <div class="car-iq-pay-3rd-screen background-image"></div>
  </div>

  <div class="content-wrapper">
    <div class="working-process">
      <h5>Working process</h5>

      <p>Explore the various stages below to gain insight into our approach and methodologies.</p>

      <div class="working-process-wrapper">
        <div class="working-process-list">
          <app-expandable-section
            *ngFor="let item of workingProcessList; index as i"
            [title]="item.title"
            [isExpanded]="item.opened"
            [showBottomLine]="i !== workingProcessList.length - 1"
            (toggle)="toggleSection(item.id)"
          >
          <span [innerHTML]="item.content"></span>
          </app-expandable-section>
        </div>

        <div class="working-process-image"></div>
      </div>
    </div>
  </div>

  <div class="full-width-wrapper">
    <img class="full-width-img" src="../../../../../assets/images/car-iq-pay-4th-screen.png" alt="Car IQ Pay 4th screen">
  </div>

  <footer>
    <div class="content-wrapper">
      <app-single-project-footer></app-single-project-footer>
    </div>
  </footer>

</div>
