.clarity-1st-screen {
  height: 650px;
  background-image: url("/assets/images/clarity-1st-screen.png");
}

.clarity-2nd-screen {
  height: 546px;
  background-image: url("/assets/images/clarity-2nd-screen.png");
}

.clarity-3rd-screen {
  height: 650px;
  background-image: url("/assets/images/clarity-3rd-screen.png");
}

.working-process-image {
  background-image: url("/assets/images/clarity-working-scheme.png");
}

.result-items div.result-item {
  width: calc(50% - 12px);
}
