<div class="contacts-wrapper">
  <button class="primary-button" routerLink="/home">
    <img src="assets/images/Back-Icon-Black.svg" alt="Back arrow">
    <span>Back</span>
  </button>

  <h2>Contacts</h2>

  <p>
    Getting in touch is easy. I'm always interested in hearing new project ideas and discussing potential job opportunities or collaboration requests you may have. Contact me the way works for you and let's meet up!
  </p>

  <div class="navigation">
    <a class="alt-button" href="https://mail.google.com/mail/?view=cm&fs=1&to=edik.kvak@gmail.com" target="_blank">Email</a>
    <a class="alt-button" href="https://www.linkedin.com/in/eduard-kvak-98a779133/" target="_blank">Linkedin</a>
    <a class="alt-button" href="https://wa.me/4915733698452" target="_blank">WhatsApp</a>
    <a class="alt-button" href="https://t.me/Stilln3ss" target="_blank">Telegram</a>
  </div>

</div>

