.skills-and-services-wrapper {
  width: 90%;
  margin: 9vh auto;
  color: #F7EDE2;

  .primary-button {
    span {
      display: inline-block;
      margin-left: 16px;
    }
  }

  h2 {
    font-size: 64px;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
