<div class="about-me-wrapper">
  <button class="primary-button" routerLink="/home">
    <img src="assets/images/Back-Icon-Black.svg" alt="Back arrow">
    <span>Back</span>
  </button>

  <h2>About me</h2>

  <p>
    I've been immersed in the dynamic intersection of product design and technology for over 6 years.
    My journey began during my studies at Lviv Polytechnic University, where I delved into the realms of
    tech and design within the Computer Engineering faculty.
  </p>

  <p>
    Driven by a combination of research insights and quantitative data, my approach to design is rooted in
    empathy for users while strategically aligning with business objectives.
  </p>

  <p>
    To continuously evolve my expertise in business and customer experience design, I actively pursue further
    education through various courses, lectures, and extensive reading across diverse design disciplines,
    applying these insights directly to my projects.
  </p>

  <p>
    Beyond my individual pursuits, I'm deeply committed to fostering growth within the design community. As a
    mentor, I guide aspiring designers, sharing knowledge and insights to empower them in their journey.
    Additionally, I create content and deliver lectures, contributing to our team's collective knowledge base
    and fostering a culture of collaboration and innovation.
  </p>

  <h4>Experience</h4>

  <div class="experience-block">
    <div class="experience-item">
      <p>Car IQ Inc.</p>
      <span>Senior-lead product designer</span>
      <span>Oct 2022 - Present</span>
    </div>
    <div class="experience-item">
      <p>Cieden</p>
      <span>Senior-lead product designer</span>
      <span>Jun 2021 - Oct 2022</span>
    </div>
    <div class="experience-item">
      <p>Excited</p>
      <span>Product designer</span>
      <span>May 2020 - Mar 2021</span>
    </div>
    <div class="experience-item no-margin">
      <p>Sigma Software Group</p>
      <span>UX/UI designer</span>
      <span>Sep 2019 - May 2020</span>
    </div>
    <div class="experience-item no-margin">
      <p>FocusWeb Studio</p>
      <span>UX/UI designer</span>
      <span>Oct 2018 - Aug 2019</span>
    </div>
  </div>

  <h4>Education</h4>

  <div class="education-block">
    <div class="education-item">
      <p>Lviv Polytechnic National University</p>
      <span>Bachelor’s degree, Computer Engineering</span>
    </div>
    <div class="education-item">
      <p>Smart Interface Patterns</p>
      <span>Deep examination of common components and design patterns in modern interfaces — desktop and mobile.
        Advanced configurators, Complex tables, Maps, Data Visualization, and more.</span>
    </div>
    <div class="education-item">
      <p>Inclusive Web Design</p>
      <span>Study of WCAG guidelines. Practicing in creating the user-friendly interface for inclusive users.</span>
    </div>
  </div>

  <h4>Get to know me better</h4>

  <div class="know-better-block">
    <div class="know-better-side">
      <div class="know-better-item">
        <img src="assets/images/dot.svg" alt="dot">
        <span>I'm all about the nitty-gritty details. I can ensure that every aspect is meticulously refined and executed to perfection.</span>
      </div>
      <div class="know-better-item">
        <img src="assets/images/two-dot.svg" alt="two-dot">
        <span>When it comes to computer games, count me in! I'm always on the lookout for the latest and greatest gamification techniques to spice up my designs.</span>
      </div>
      <div class="know-better-item">
        <img src="assets/images/three-dot.svg" alt="three-dot">
        <span>Manga is my jam! Whether it's the epic battles of Bleach or the mind-bending plots of Dr. Stone, I'm hooked.</span>
      </div>
    </div>
    <div class="know-better-side">
      <div class="know-better-item">
        <img src="assets/images/four-dot.svg" alt="four-dot">
        <span>Besides English and Ukrainian, I'm diving into German. As the saying goes, the more languages you know, the richer your experiences become.</span>
      </div>
      <div class="know-better-item">
        <img src="assets/images/five-dot.svg" alt="five-dot">
        <span>My furry friend Pixel, my faithful companion, inspired the style of this portfolio. The 'P' logo and square-shaped icons reflect his playful
          energy, while the color palette is drawn from his favorite outfits.</span>
      </div>
    </div>
  </div>

  <h4>What other says about me</h4>

  <div class="feedbacks-block">
    <div class="feedbacks-row">
      <div class="feedback-item">
        <h5>Amanda Hilliard</h5>
        <h6>VP Product at Car IQ</h6>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>

      <div class="feedback-item">
        <h5>Amanda Hilliard</h5>
        <h6>VP Product at Car IQ</h6>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>
    </div>

    <div class="feedbacks-row">
      <div class="feedback-item">
        <h5>Amanda Hilliard</h5>
        <h6>VP Product at Car IQ</h6>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>

      <div class="feedback-item">
        <h5>Amanda Hilliard</h5>
        <h6>VP Product at Car IQ</h6>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>
    </div>
  </div>

</div>


