.wrapper {
  height: 72px;

  .sticky-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 100;
    background-color: #040F0F;

    button {
      margin-left: 5%;
      padding: 0;
    }
  }
}
