@font-face {
  font-family: 'Outfit';
  src: url('../src/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #040F0F;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    border-radius: 0;
  }
}

button {
  font-family: 'Outfit', sans-serif;

  &:hover {
    border-radius: 0;
  }
}

.primary-button {
  display: flex;
  align-items: center;
  background-color: #D57A66;
  color: #040F0F;
  padding: 16px 32px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.alt-button {
  background-color: transparent;
  color: #F7EDE2;
  padding: 16px 32px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  border-radius: 24px;
  border: 4px solid #D57A66;
  cursor: pointer;
}


.project-wrapper {
  width: 100%;
  color: #F7EDE2;
  margin-top: 9vh;
  margin-bottom: 9vh;

  .content-wrapper {
    width: 90%;
    margin: 0 auto;

    .primary-button {
      span {
        display: inline-block;
        margin-left: 16px;
      }
    }

    h2 {
      font-size: 64px;
      font-weight: 700;
      margin-top: 48px;
      margin-bottom: 16px;
    }

    h5 {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      margin: 0 0 16px;
    }

    h6 {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 16px;
      margin-top: 48px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      margin: 0 0 20px;
    }

    .industries {
      margin-bottom: 48px;

      .hashes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .hash {
          background-color: #F7EDE2;
          border-radius: 12px;
          padding: 4px 12px;
          color: #040F0F;
          font-size: 20px;
          line-height: 32px;
          font-weight: 500;
          margin-right: 12px;
          margin-bottom: 12px;
        }
      }
    }

    .company-profiles {
      margin-bottom: 96px;

      .navigation {
        display: flex;

        a {
          margin-right: 16px;
        }
      }
    }
  }

  .full-width-wrapper {
    background-color: rgba(256,256,256, 0.08);
    margin-bottom: 96px;

    img {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
  }

  .scope {
    p {
      margin-bottom: 24px;
    }
  }

  .two-column-block {
    display: flex;
    justify-content: space-between;

    .two-column-block-side {
      width: calc(50% - 12px);

      .block-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-size: 20px;
          display: inline-block;
          margin-left: 16px;
          line-height: 32px;
        }
      }
    }
  }

  .one-column-block {

    .block-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-size: 20px;
        display: inline-block;
        margin-left: 16px;
        line-height: 32px;
      }
    }
  }

  .challenges {
    margin-top: 48px;
    margin-bottom: 96px;

    h5 {
      margin-bottom: 24px;
    }
  }

  .working-process {
    margin-bottom: 96px;

    p {
      margin-bottom: 48px;
    }

    .working-process-image {
      width: 100%;
      height: 372px;
      border-radius: 56px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: rgba(256,256,256, 0.08);
      margin-bottom: 48px;
    }

    .working-process-list {

      span {
        display: inline-block;
        font-size: 20px;
        line-height: 32px;

        &:not(:last-child).text-bottom-margin {
          margin-bottom: 32px;
        }

        &:first-child {
          margin-top: 16px;
        }
      }
    }
  }

  .result-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .result-item {
      width: 32%;
      padding: 48px;
      background-color: rgba(256,256,256, 0.08);
      border-radius: 56px;
      margin-bottom: 24px;

      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: #D57A66;
        margin-bottom: 16px;
      }

      span {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
      }
    }
  }

  .contact-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #D57A66;
    padding: 48px;
    border-radius: 48px;
    margin-top: 24px;

    div {
      p {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        color: #D57A66;
        margin-bottom: 8px;
      }

      span {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
      }
    }

    a {
      display: flex;
      height: 64px;
      align-items: center;
      background-color: #F7EDE2;
      color: #040F0F;
      padding: 16px 32px;
      font-size: 20px;
      line-height: 32px;
      font-weight: 700;
      border-radius: 24px;
      border: none;
      cursor: pointer;

      &:hover {
        border-radius: 0;
      }
    }
  }
}
