@font-face {
  font-family: 'Outfit';
  src: url('../src/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf');
}

body {
  margin: 0;
  background-color: #040F0F;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
}
