<div class="projects">
  <a routerLink="/projects/{{project.name}}" *ngFor="let project of projects" class="project">
    <div class="description">
      <h3>{{project.title}}</h3>
      <span class="subtitle">
        {{project.subtitle}}
      </span>

      <div *ngFor="let details of project.details" class="details">
        <p>{{details.title}}</p>
        <span>{{details.data}}</span>
      </div>

      <span class="link">View Project <div class="view-project-icon"></div></span>
    </div>

    <div class="photo"
         [ngStyle]="{'background-image': getBackgroundImageUrl(project.name)}"
    ></div>
  </a>
</div>
