<div class="projects">
  <a routerLink="/projects/{{project.name}}" *ngFor="let project of projects" class="project">
    <div class="description">
      <h3>{{project.title}}</h3>
      <span class="subtitle">
        {{project.subtitle}}
      </span>

      <div class="deliverables">
        <p>Deliverables</p>
        <div class="deliverable" *ngFor="let deliverable of project.deliverables">
          <img src="assets/images/dot.svg" alt="dot">
          <span>{{deliverable}}</span>
        </div>
      </div>

      <span class="link"><span class="text">View Project</span><div class="view-project-icon"></div></span>
    </div>

    <div class="photo"
         [ngStyle]="{'background-image': getBackgroundImageUrl(project.name)}"
    ></div>
  </a>
</div>
