<div class="section" [ngClass]="{ 'expanded': isExpanded, 'bottom-line': showBottomLine}">
  <div class="section-header" (click)="toggleSection()">
    <h2 class="section-title">{{ title }}</h2>
    <button class="toggle-btn">
      <img *ngIf="!isExpanded" src="../../../assets/images/plus-sign.svg" alt="plus sign">
      <img *ngIf="isExpanded" src="../../../assets/images/cross-sign.svg" alt="cross sign">
    </button>
  </div>
  <div class="section-content" *ngIf="isExpanded">
    <ng-content></ng-content>
  </div>
</div>
